/*󰌌 */
window#waybar {
  all: unset;
}

/* margin-top can also be gaps out */

.modules-center {
  padding: 0px;
  margin-top: 12px; /* change this to change the top offset of the bar to the screen  */
}
.modules-left {
  padding-left: 12px; /* gaps out */
  margin-top: 12px; /* change this to change the top offset of the bar to the screen */
}

.modules-right {
  padding-right: 12px; /* gaps out */
  margin-top: 12px; /* change this to change the top offset of the bar to the screen */
}
tooltip {
  background: rgba(0, 0, 0, 0); 
  color: white;
}
#clock {
  padding: 0px 5px;
  color: rgba(255, 255, 255, 1); /* Bianco puro */
  transition: all .3s ease;
}
#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  padding: 0 5px 0 0;
  margin: 0;
  border: none;
  background: transparent;
  color: rgba(200, 200, 200, 1);
}

#workspaces button:hover {
  color: rgba(220, 220, 220, 1);
}

#workspaces button.active {
  color: white;
}

#workspaces button.empty {
  color: rgba(180, 180, 180, 1);
}

#bluetooth {
  padding: 0px 5px;
  transition: all .3s ease;
  color: white;

}
#network{
  padding: 0px 5px;
  transition: all .3s ease;
  color: white;

}
#battery{
  padding: 0px 5px;
  transition: all .3s ease;
  color: white;


}
#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#group-expand{
  padding: 0px 0px;
  transition: all .3s ease; 

  color:rgba(255,255,255,1);
}
#custom-expand{
  padding: 0px 0px;
  color:rgba(255,255,255,1);
  transition: all .3s ease; 
}
#custom-expand:hover {
  color: white;
}

#cpu,#memory,#temperature{
  padding: 0px 5px;
  transition: all .3s ease; 
  color: white;

}
#custom-endpoint{
  color: white;

}
#tray{
  padding: 0px 0px;
  transition: all .3s ease; 

}
#tray menu * {
  padding: 0px 0px;
  transition: all .3s ease; 
}

#tray menu separator {
  padding: 0px 0px;
  transition: all .3s ease; 
}

#custom-power {
  padding: 0px 5px;
}
