
@define-color base00 #282828;
@define-color base01 #3C3836;
@define-color base02 #504945;
@define-color base03 #665C54;
@define-color base04 #BDAE93;
@define-color base06 #D5C4A1;
@define-color base06 #EBDBB2;
@define-color base07 #FBF1C7;
@define-color base08 #FB4934;
@define-color base09 #FE8019;
@define-color base0A #FABD2F;
@define-color base0B #B8BB26;
@define-color base0C #8EC07C;
@define-color base0D #83A598;
@define-color base0E #D3869B;
@define-color base0F #D65D0E;

#text {
    -gtk-icon-transform: scaleX(0);
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}

#window {
  font-size: 16px;
  font-family: monospace;

  border-radius: 4px;
  /* background-color: rgba(0,0,0,1.0); */


  /*     opacity: 1.0; */
  /*     border:  0px; */
  /*     border-radius: 4px; */
  /*     font-family: monospace; */
  /*     font-size: 16px; */

}


/* Removed dotted border and every border */
* {
  outline: none;
  box-shadow: none;
}

/* Search icon removed completely */
#input image.left {
  -gtk-icon-transform: scaleX(0);
}

/* Cancel icon */
#input image.right {

  -gtk-icon-transform: scaleX(0);
}

#entry {
  margin: 4px 4px;
}


#entry:selected {
  background: #608787;
  color: @base00;
  border-radius: 2px;
}


#expander-box {
  background: transparent;
  color: @base07;
}

#input {

  border-radius: 2px;
  border:  0px;
  color: @base07;
  background-color: @base00;
  box-shadow: none; 

  margin: 4px 4px 0px 4px;
  margin-left: -16px; /* calibra il valore guardando quanto spazio resta */
}


#input:focus{
  color: rgb(200,200,200);
}


#img{
  padding-right:10px;
}


#outer-box{
  box-shadow: none;
  border-radius: 0px;
}
